@use '../utilities/variables' as *;

.about {

    h2 {
        font-family: 'Raleway', sans-serif;
    }

    p {
        font-family: 'Open Sans', sans-serif;
    }

    &__img {
        background-image: linear-gradient( rgba($color: $blue-color, $alpha: 0.3) , rgba($color: $white, $alpha: 0.3)), url('../../assets/gifs/code.gif');
    }

    &__cv {

        font-family: 'Raleway', sans-serif;

        svg path {
            transition: fill 150ms ease-in-out;
        }

        &:hover {
            svg path {
                fill: $nav-item-color;
            }    
        } 
    }
}

