@use '../utilities/variables' as *;

.contact {

    input {
        height: 2.625rem;
    }

    textarea {
        height: 8.5rem;
    }

    input, textarea {
        border: 1px solid darken($color: $nav-item-color, $amount: 10);
        border-radius: 0.2rem;
        color: $secondary-font-color;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-bottom: 1.5rem;
        outline: none;
        padding: 0.375rem 0.75rem;
        width: 100%;
    }

    button {
        font-family: 'Raleway', sans-serif;
    }

}