@use '../utilities/variables' as *;

.footer {

    p {
        font-family: 'Open Sans', sans-serif;
    }

    &__link {

        transition: all 500ms ease-in-out;

        &:not(:last-child) {
            margin-right: 0.75rem;
        }

        &:hover {
            transform: rotate(360deg);
            background: lighten($color: $blue-color, $amount: 10)
        }
    }
}

@media (min-width: 1024px) {

    .footer__link {

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
}