@use '../utilities/variables' as *;

.hero {

    background: linear-gradient( rgba($color: $white, $alpha: 0.8), rgba($color: $white, $alpha: 0.8) ), url('../../../src/assets/images/hero.jpg');

    h1, h2 {
        font-family: 'Raleway', sans-serif;
    }

    .animate__animated.animate__fadeIn {
        --animate-duration: 3s;
        --animate-delay: 1s;
    }

    &__link {
        &:not(:last-child) {
            margin-right: 0.75rem;
        }
    }
}

@media (min-width: 1024px) {
    .hero__link {
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
}

