@use '../utilities/variables' as *;

.navbar {

    &__item {
        
        max-width: 3.5rem;
        transition: background-color 150ms ease-in-out;
        
        svg path {
            
            transition: fill 150ms ease-in-out;
        }

        &:hover {

            max-width: 100%;
            background-color: $blue-color;

            svg path {
                
                fill: $nav-item-color
            }

            span {
                display: block;
            }
        }
    }
}

.nav__item--active {
    background-color: $blue-color;
    
    svg path {
        
        fill: $nav-item-color
    }
}