@use '../utilities/variables' as *;

.navbar {

    span {
        font-family: 'Open Sans', sans-serif;
    }

    &__item {
        
        background-color: $nav-item-color;
        max-width: 3.5rem;
        transition: background-color 150ms ease-in-out;
        
        svg path {
            
            transition: fill 150ms ease-in-out;
        }

        &:hover {

            max-width: 100%;
            background-color: $blue-color;

            svg path {
                
                fill: $nav-item-color
            }

            span {
                display: block;
            }
        }
    }
}

.nav__item--active {
    background-color: $blue-color;
    
    svg path {

        fill: $nav-item-color
    }
}

.navbar-mobile {

    transform: translateX( -20rem );
    transition: all 400ms ease-in-out; 

    &--open {
        transform: translateX( 0 );
    }

    span {
        font-family: 'Open Sans', sans-serif;
    }

    &__item {

        background-color: $nav-item-color;
        color: $primary-font-color;

        &:hover {

            background-color: $blue-color;
            color: $nav-item-color;

            svg path {
                
                fill: $nav-item-color
            }
    }
    }
}

.nav-mobile__item--active {

    background-color: $blue-color;
    color: $nav-item-color;

    svg path {
        fill: $nav-item-color;
    }

}