@use '../utilities/variables' as *;

.nav-menu {

    a {
        transition: background-color 150ms ease-in-out;
        &:hover {
            background-color: $blue-color;

            span {
                display: block;
            }
            
            svg path {
                fill: $nav-item-color;
            }
        }
    }
}