@use '../utilities/variables' as *;

.portfolio {

    h3 {
        font-family: 'Raleway', sans-serif;
    }

    p {
        font-family: 'Open Sans', sans-serif;
    }

    &__more {
        font-family: 'Raleway', sans-serif;
    }

    &__wrapper {

        height: 100%;
        overflow: hidden;
        position: relative;
        transition: 300ms;
        z-index: 1;
        background: linear-gradient( rgba($color: $blue-color, $alpha: 0.15) , rgba($color: $white, $alpha: 0.15));

        &::before {
            background: linear-gradient( rgba($color: $white, $alpha: 0.8), rgba($color: $white, $alpha: 0.8) );
            bottom: 2rem;
            content: '';
            left: 2rem;
            opacity: 0;
            position: absolute;
            right: 2rem;
            top: 2rem;
            transition: all 300ms ease-in-out;
            z-index: 2;
        }

        .portfolio__info {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;
            z-index: 3;
            transition: all 300ms ease-in-out;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &::before {
                display: block;
                content: '';
                width: 3rem;
                height: 3rem;
                position: absolute;
                top: 3.3rem;
                left: 3.3rem;
                border-top: 3px solid rgba($color: $nav-item-color, $alpha: 0.6);
                border-left: 3px solid rgba($color: $nav-item-color, $alpha: 0.6);
                transition: all 500ms ease;
                z-index: 4;

            }
            
            &::after {
                display: block;
                content: '';
                width: 3rem;
                height: 3rem;
                position: absolute;
                bottom: 3.3rem;
                right: 3.3rem;
                border-bottom: 3px solid rgba($color: $nav-item-color, $alpha: 0.6);
                border-right: 3px solid rgba($color: $nav-item-color, $alpha: 0.6);
                transition: all 500ms ease;
                z-index: 4;
            }
        }

        &:hover {

            &::before {
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 1;
            }

            .portfolio__info {
                opacity: 1;
            }

            .portfolio__info::before {
                top: 1rem;
                left: 1rem;
            }

            .portfolio__info::after {
                bottom: 1rem;
                right: 1rem;
            }
        }   
    }
    
    &__link {

        span {
            font-family: 'Open Sans', sans-serif;
        }
        
        svg path {
            transition: fill 150ms ease-in-out;
        }
        
        &:hover {

            svg path {
                fill: $blue-color
            }

            span {
                color: $blue-color;
            }
        }
    } 
}


