// COLORS
$white: #FFFFFF;
$primary-font-color: #45505b;
$secondary-font-color: #272829;
$blue-color: #459EAD;
$nav-item-color:#F2F3F5;
$bottom-line-primary: #459EAD;
$bottom-line-secondary: #DDDDDD;

// TAILWIND COLORS
$blue-500: #3b82f6;
$yellow-600: #d97706;
$pink-500: #ec4899;
$yellow-300: #fcd34d;
$red-500: #ef4444;
$green-400: #34d399;